/* adjusted to give override background and text colour */
.highlight pre, pre, .highlight .hll {
  // background-color: $hero-bg-color;
  color: #fff;
}
.c     { color: #5b6370; font-style: italic } // comment
.err   { color: #960050; background-color: #1e0010; } // error
.k     { color: #c776df; font-weight: bold; } // keyword
.o     { font-weight: bold } // operator
.cm    { color: #5b6370; font-style: italic } // comment.multiline
.cp    { color: #5b6370; font-weight: bold } // comment.preproc
.c1    { color: #5b6370; font-style: italic } // comment.single
.cs    { color: #5b6370; font-weight: bold; font-style: italic } // comment.special
.gd    { color: #000; background-color: #fdd } // generic.deleted
.gd .x { color: #000; background-color: #faa } // generic.deleted.specific
.ge    { font-style: italic } // generic.emph
.gr    { color: #a00 } // generic.error
.gh    { color: #5b6370 } // generic.heading
.gi    { color: #a6e22e; background-color: #dfd } // generic.inserted
.gi .x { color: #a6e22e; background-color: #afa } // generic.inserted.specific
.go    { color: #888 } // generic.output
.gp    { color: #555 } // generic.prompt
.gs    { font-weight: bold } // generic.strong
.gu    { color: #aaa } // generic.subheading
.gt    { color: #a00 } // generic.traceback
.kc    { font-weight: bold } // keyword.constant
.kd    { color: #c776df; font-weight: bold } // keyword.declaration
.kp    { font-weight: bold } // keyword.pseudo
.kr    { font-weight: bold } // keyword.reserved
.kt    { color: #458; font-weight: bold } // keyword.type
.m     { color: #4fb6c3 } // literal.number
.s     { color: #a2bd40 } // literal.string
.na    { color: #e2964a } // name.attribute
.nb    { color: #4fb6c3 } // name.builtin
.nc    { color: #e2964a; font-weight: bold } // name.class
.nd    { color: #4fb6be; } // name.decorator
.no    { color: #4fb6be } // name.constant
.ni    { color: #e2964a } // name.entity
.ne    { color: #900; font-weight: bold } // name.exception
.nf    { color: #52a5eb; font-weight: bold } // name.function
.nn    { color: #555 } // name.namespace
.nt    { color: #de5442 } // name.tag
.nv    { color: #de5442 } // name.variable
.ow    { font-weight: bold } // operator.word
.w     { color: #bbb } // text.whitespace
.mf    { color: #4fb6c3 } // literal.number.float
.mh    { color: #4fb6c3 } // literal.number.hex
.mi    { color: #4fb6c3 } // literal.number.integer
.mo    { color: #4fb6c3 } // literal.number.oct
.sb    { color: #a2bd40 } // literal.string.backtick
.sc    { color: #a2bd40 } // literal.string.char
.sd    { color: #5b6370 } // literal.string.doc
.s2    { color: #a2bd40 } // literal.string.double
.se    { color: #a2bd40 } // literal.string.escape
.sh    { color: #a2bd40 } // literal.string.heredoc
.si    { color: #a2bd40 } // literal.string.interpol
.sx    { color: #a2bd40 } // literal.string.other
.sr    { color: #009926 } // literal.string.regex
.s1    { color: #a2bd40 } // literal.string.single
.ss    { color: #990073 } // literal.string.symbol
.bp    { color: #999 } // name.builtin.pseudo
.vc    { color: #008080 } // name.variable.class
.vg    { color: #008080 } // name.variable.global
.vi    { color: #008080 } // name.variable.instance
.il    { color: #4fb6c3 } // literal.number.integer.long
